<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Wellcome Home</h1>
    <h2>{{ request.user.username }}</h2>
    <h1><a href="{% url 'logout' %}" class="text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Logout</a></body></h1>
    <h1><a href="{% url 'profile_update' %}" class="text-gray-900 block px-3 py-2 rounded-md text-base font-medium">Update Profile</a></body>

</html>